/* Подключение шрифтов */
@font-face {
  font-family: "ManropeBold";
  src: url(./fonts/Manrope-Bold.ttf);
}

@font-face {
  font-family: "Manrope";
  src: url(./fonts/Manrope-Regular.ttf);
}

@font-face {
  font-family: "ManropeLight";
  src: url(./fonts/Manrope-Light.ttf);
}

/* Сброс базовых стилей */
html {
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  outline: none;
  
}

/* Общие стили для всего приложения */

body {
  background: #ffffff;
  padding: 0 0rem;
  overflow: auto;
  width: 100%;
}

body.oh {
  overflow: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

a,
button {
  cursor: pointer;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

a:hover,
button:hover {
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

button:hover {
  background-color:  #7acc00;
}

ul li {
  list-style-type: none;
}

h1 {
  font-size: 80px;
  color: #ae67fa;
  text-align: left;
}

.left_header h1 {
  padding-top: 25%;
  font-size: 80px;
  color: #ae67fa;
}



h2 {
  font-size: 34px;
}

h1,
h2 {
  font-family: "ManropeBold", sans-serif;
  background: linear-gradient(90deg, #7acc00 1.84%, #f49867 102.67%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-top: 10%;
  margin-left: 35%;
}

h3 {
  font-family: "ManropeBold", sans-serif;
  color: #fff;
  font-size: 24px;
  text-align: center;
}

p {
  font-size: 16px;
  color: #fff;
  text-align: center;
  margin-left: 35%;
  
}

.btn {
  display: inline-block;	
	box-sizing: border-box;
	padding: 0 25px;
	margin: 10 15px 15px 0;
	outline: none;
	border: 1px solid #fff;
	border-radius: 50px;
	height: 46px;
	line-height: 46px;
	font-size: 14px;
	font-weight: 600;
	text-decoration: none;
	color: #444;
	background-color: #fff;
	box-shadow: 0 4px 6px rgb(65 132 144 / 8%), 0 1px 3px rgb(0 0 0 / 5%);
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;  
	vertical-align: top;
	transition: box-shadow 0.2s;
}

.primary-btn {
  background-color:  #f49867;
  margin-right: 10px;
}

.section {
  max-width: 1169px;
  width: 100%;
}

.lined_header {
 
  padding: 0rem 0;
}

/* Стили для Шапки */

.header {
  display: flex;
  max-width: 100%;
  height: 90px;
  margin: 0% auto;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background:linear-gradient(90deg, #7acc00 1.84%, #f49867 102.67%);
}
.header  .header__logo{
  width: 50%;
  display: flex;
}

.header  .header__logo .header__logo__name {
  color: #ffffff;
  text-align: left;
  font-size: 25px;
  font-weight: bolder;
  margin-left: 3%;
  margin-right: 30%;
}

.header .header__menu .menu {
  display: flex;
  column-gap: 2rem;
}

.header .header__right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 2rem;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.header .header__right.hidden {
  opacity: 0;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  visibility: hidden;
}

.header .header__right .menu__close {
  width: 38px;
  height: 38px;
}

.header .header__right .menu__close.hidden {
  display: none;
}

.header .header__menu .menu .menu__item a {
  color: #fff;
  border-bottom: 1px solid transparent;
}

.header .header__menu .menu .menu__item:hover a {
  border-bottom-color: #fff;
}

.header .header__menu .menu .menu__item.active a {
  color: #f49867;
  border-bottom-color: #f49867;
}

.header .header__burger_menu {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  cursor: pointer;
}

.header .header__burger_menu.hidden {
  display: none;
}

.header .header__burger_menu .burger_menu__line,
.header .header__right .menu__close .menu__line {
  width: 43px;
  height: 5px;
  border-radius: 2px;
  background: #fff;
}

.header .header__right .menu__close .menu__line:nth-child(1) {
  position: relative;
  top: 15px;
  right: 4px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.header .header__right .menu__close .menu__line:nth-child(2) {
  position: relative;
  top: 10px;
  right: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

.header .cta_buttons {
  display: flex;
  column-gap: 1rem;
}

/* Стили для первого экрана (Хиро секция) */
.menu_maker_section {
  height: 100%;
  min-width: 100%;
  display: flex;
  justify-content: space-between;

  padding: 0rem 0 0rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.728), rgba(0, 0, 0, 0.463)), url('assets/img/menuMakerBack.jpg');

  background-size: 100% 120%; 
  background-attachment:scroll;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
}

.menu_maker_section  .menu_maker_section__right {
  height: 100%;
  width: 100%;
}

.menu_maker_section  .menu_maker_section__right img {
  width: 100%;
  margin-left: 0%;
  display: none
}

.menu_maker_section .menu_maker_section__left {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center center;
  row-gap: 3rem;
  width: 75%;
}

.menu_maker_section .menu_maker_section__left h3{
  color: #000000;
}

.menu_maker_section .menu_maker_section__left  .left__description {
  color: #ffffff;
  font-weight:normal;
  font-size: 20px;
  margin-left: 34%;
  margin-top: -2%;
}

.menu_maker_section .menu_maker_section__left  .left__cta_buttons {
  display: flex;
  width: 100%;
  padding-left: 60%;
  
}

.menu_maker_section .menu_maker_section__left  .left__cta_buttons .btn {
  display: inline-block;	
	box-sizing: border-box;
	padding: 0 25px;
	margin: 0% 0% 35% -30%;
	outline: none;
	border: 1px solid  #7acc00;
	border-radius: 50px;
	height: 46px;
	line-height: 46px;
	font-size: 14px;
	font-weight: 600;
  min-width: 250px;
  width: 250px;
	
  text-decoration: none;
	color: #444;
	background-color: #fff;
  box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;  
	vertical-align: top;
	transition: box-shadow 0.2s;
}

.menu_maker_section .menu_maker_section__left  .left__cta_buttons .btn:hover {
  background-color:  #7acc00;
}
/*Стили для всех остальных (пока что)*/


.hero_section {
  display: flex;
  justify-content: space-between;
  column-gap: 1rem;
  /* min-height: 60vh; */
  padding: 0rem 0 1rem;
  margin-top: 10%;
  /*flex-direction: column;*/
}

.hero_section .hero_section__left {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  row-gap: 3rem;
  width: 50%;
  margin-left: 0;
}

.hero_section .hero_section__left h3{
  color: #000000;
}

.hero_section .hero_section__left .left_header 
{
  font-family: "ManropeBold", sans-serif;
  background: linear-gradient(90deg, #7acc00 1.84%, #f49867 102.67%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  margin-top: 10%;
  margin-left: 0%;
  font-size: 60px;
}

.hero_section .hero_section__left .left__description {
  color: #000000;
  text-align: left;
  font-size: 20px;
  margin-top: -5%;
  margin-left:0%;
  margin-right: 5%;
}

.hero_section .hero_section__left .left__cta_buttons {
  display: flex;
  width: 100%;
}

.hero_section .hero_section__left .left__cta_buttons input[type="text"] {
  min-width: 250px;
  width: 70%;
  padding: 8px 32px;
  border-radius: 4px 0 0 4px;
  border: 1px solid #052d56;
  border-bottom: none;
  background-color: #052d56;
}

.hero_section .hero_section__left .left__cta_buttons .btn {
  border-radius: 0 4px 4px 0;
}

.hero_section .hero_section__right {
  margin-top: 2%;
  margin-left: -20%;
  height: 100%;
  max-width: 60%;
}


.hero_section .hero_section__right img {
  width: 45%;
  margin-top: 2%;
  margin-right: 2%;
}

/*Секция FAQ*/

.faq_section {
  display: flex;
  justify-content: space-between;
  width:100%;
  margin-top: 0%;
  align-content: center;
  overflow: hidden;
  flex-direction: column;
}

.faq_section_center{
  width:100%;
  align-content: center;
  overflow: hidden;
  flex-direction: column;
}

.faq_section  .faq_section_center  h1{
  font-size: 60px;
  width: 70%;
  margin-left: 15%;
  
}
.faq_section  .faq_section_center .faq_descr {
  color: #000000;
  font-weight:bold;
  font-size: 20px;
  text-align: center;
  margin-left: 0%;
  margin-top: 10px;
  margin-bottom: 5%;
}
.faq_section .faq_section_left {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  row-gap: 3rem;
  width: 100%;
  margin-left: 0%;
  margin-top: 20px;
} 

.faq_section .faq_section_left .faq_queston {
  color: #6DA11F;
  font-weight:bold;
  font-size: 20px;
  text-align: left;
  margin-left: 5%;
  margin-top: 10px;
  margin-bottom: 10px;
  flex-direction: row;
}

.faq_section .faq_section_left .faq_answer {
  color: #000000;
  font-weight:normal;
  font-size: 18px;
  text-align: left;
  margin-left: 5%;
  margin-top: 10px;
  margin-bottom: 5%;

}

.faq_section .faq_section_left .faq_structure {
  display:flex;
  flex-direction:row;
  height: auto;
  width: 100%;
}

.faq_section .faq_section_left .faq_structure img {
  display:flex;
  width: 80px;
  height: 80px;
  margin-left: 3%;
  margin-right: 1%;
  padding-top: 20px;
  
} 



/* Секция About*/
.about_section {
  display: flex;
  justify-content: space-between;
  column-gap: 1rem;
  /* min-height: 60vh; */
  padding: 0rem 0 1rem;
  margin-top: 10px;
  /*flex-direction: column;*/
}

.about_section .about_section__left {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  row-gap: 3rem;
  width: 50%;
  margin-left: 0;
}

.about_section .about_section__left h3{
  color: #000000;
}

.about_section .about_section__left .left_header 
{
  font-family: "ManropeBold", sans-serif;
  background: linear-gradient(90deg, #7acc00 1.84%, #f49867 102.67%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  margin-top: 10%;
  margin-left: 0%;
  font-size: 60px;
}

.about_section .about_section__left .left__description {
  color: #000000;
  text-align: left;
  font-size: 20px;
  margin-top: 0%;
  margin-left:0%;
  margin-right: 5%;
}

.about_section .about_section__left .left__cta_buttons {
  display: flex;
  width: 100%;
}

.about_section .about_section__left .left__cta_buttons input[type="text"] {
  min-width: 250px;
  width: 70%;
  padding: 8px 32px;
  border-radius: 4px 0 0 4px;
  border: 1px solid #052d56;
  border-bottom: none;
  background-color: #052d56;
}

.about_section .about_section__left .left__cta_buttons .btn {
  border-radius: 0 4px 4px 0;
}

.about_section .about_section__right {
  margin-top: 2%;
  margin-left: -20%;
  height: 100%;
  max-width: 60%;
}

.about_section .about_section__right img {
  width: 45%;
  margin-top: 2%;
  margin-right: 2%;
}

/* Стили для секции "Contacts"*/
.contacts_section {
  min-width: 100%;
  height: 500px;
  background-image:url(assets/img/contacts_back.jpg);
  background-size: 100%; 
  background-attachment:scroll;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
}

.contacts_section .contacts_section_center {
  margin-top: 5%;
  margin-left: 20%;
  width: 60%;
	height: 400px;
	background: #ffffff;
}

.contacts_section .contacts_section_center .center_header {
  padding-top: 10%;
  text-align: center;
  font-weight: bold;
  padding-bottom: 5%;
}

.contacts_section .contacts_section_center .contacts_center_info {
  text-align: center;
  font-weight: bolder;
  font-size: 30px;
} 
.contacts_section .center_write {
  padding-top: 0%
}

/* Стили для пятого экрана (Регистрация и ...) */

.begin {
  /* Rectangle 26 */
  box-sizing: border-box;
  width: 100%;
  height: 172.65px;
  background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10.7236px;
  margin: 10rem;
}

.begin .begin_colon{
  height: 100%;
  display: flex;
  flex-direction: row;
  row-gap: 0rem 2rem;
  width: 90%;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.begin .begin_colon .begin__left{
  width: 100%;
}

.begin .begin_colon .begin__left .text_1{
  /* Запросите ранний доступ */
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 30px;
  /* or 250% */
  color: #0E0E0E;
  margin: -1rem 2rem;
}

.begin .begin_colon .begin__left .text_2{
  /* Зарегистрируйтесь и начните исследовать безграничные возможности. */
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 35px;
  /* or 146% */
  color: #000000;
  margin: 1rem 2rem;
}

.begin .begin_colon .begin__right{
  /* display: flex;
  width: 30%; */
  display: flex;
  width: 70%;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
}


.begin .begin_colon .begin__right .start_button {
  /* Начать */
  font-family: 'Manrope';
  font-style: normal;
  color: #FFFFFF;
  font-size: large;
}
.begin .begin_colon .begin__right .start_button a {
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
 
}



.begin .begin_colon .begin__right .start_button button {
  width: 189.14px;
  height: 59.4px;
  margin-right: -50px;
  background-color: #000000;
  color: #FFFFFF;
  border-radius: 40px;
}

.begin .begin_colon .begin__right .start_button a,
button {
  cursor: pointer;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  
}

.begin .begin_colon .begin__right a:hover,
button:hover {
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

.begin .begin_colon .begin__right button:hover {
  background-color: #ae67fa;

}



/* Стили для ТЕКСТА шестого экрана (Блог) */

.blog_text {
  display: flex;
  column-gap: 2rem;
  min-height: 0vh;
  align-items: flex-end;
  align-content: space-between;
}

.blog_text .blog__left {
  height: 100%;
}

.blog_text .blog__left .text_blog__left{
  /* Многое Происходит, Мы Ведем об Этом Блог. */
  height: 150px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  font-size: 62px;
  line-height: 75px;
  letter-spacing: -0.04em;
  background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.blog_text .blog__right {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 3rem;
  width: 75%;
}

/* Стили для шестого экрана (Блог) */

.blog {
  display: flex;
  column-gap: 3rem;
  min-height: 30vh;
  align-items: stretch;
  align-content: stretch;
  margin: 6rem 4rem 6rem 4rem;
  flex-direction: row;
  justify-content: left;
 
}

.blog .blog__left {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  row-gap: 3rem;
  width: 35%;
}

.blog .blog__left .box_1 {
  height: 100%;
}

.blog .blog__left .box_1 img {
  width: 100%;
}

.blog .blog__left .box_1 .one_1 {
  /* Rectangle 20 */
  width: 100%;
  height: 100%;
  background: #042C54;
  padding: 2rem;

}

.blog .blog__left .box_1 .one_1 .text_start_1{
  /* Сент 26, 2021 */
  width: 357px;
  height: 35px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 300;
  font-size: 11.649px;
  line-height: 35px;
  /* identical to box height, or 300% */
  color: #FFFFFF;
}

.blog .blog__left .box_1 .one_1 .text_1{
  /* GPT-3 и Openai – это будущее. Давайте разберемся, как это? */
  width: 342.18px;
  height: 90.86px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  font-size: 25.11px;
  line-height: 30px;
  /* or 121% */
  color: #FFFFFF;
}

.blog .blog__left .box_1 .one_1 a{
  /* Читать полную статью */
  /* position: absolute; */
  width: 148px;
  height: 35px;
  left: 561px;
  top: 4405px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 400px;
  /* identical to box height, or 291% */
  color: #FFFFFF;
}

.blog .blog__left .box_1 .one_1 a:hover{
  border-bottom: 1px solid #ffffff;
}


.blog .blog__middle {
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  row-gap: 2rem;
  width: 70%;
  flex-wrap: wrap;
  
}

.blog .blog__left .box_2 {
  height: 100%;
  width:50%;
  margin-left: 2rem;
}

.blog .blog__left .box_2 img {
  width: 100%;
}

.blog .blog__middle .box_2 .one_2{
  /* Rectangle 20 */
  /* Rectangle 21 */
  width: 327.34px;
  height: 193.37px;
  background: #042C54;
  padding: 1rem 1.5rem;
}

.blog .blog__middle .box_2 .one_2 .text_start_2{
  /* Сент 26, 2021 */
  width: 284px;
  height: 35px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 300;
  font-size: 11.649px;
  line-height: 35px;
  /* identical to box height, or 300% */
  color: #FFFFFF;
}

.blog .blog__middle .box_2 .one_2 .text_2{
  /* GPT-3 и Openai – это будущее. Давайте разберемся, как это? */
  width: 284.23px;
  height: 90.86px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  font-size: 19px;
  line-height: 30px;
  /* or 159% */
  color: #FFFFFF;
}

.blog .blog__middle .box_2 .one_2 a{
  /* Читать полную статью */
  width: 284px;
  height: 35px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 35px;
  /* identical to box height, or 291% */
  color: #FFFFFF;
}
.blog .blog__middle .box_2 .one_2 a:hover{
  border-bottom: 1px solid #ffffff;
}

.blog .blog__left .box_3 {
  height: 100%;
}

.blog .blog__left .box_3 img {
  width: 100%;
}

.blog .blog__middle .box_3 .one_3{
  /* Rectangle 20 */
  /* Rectangle 21 */
  width: 327.34px;
  height: 193.37px;
  background: #042C54;
  padding: 1rem 1.5rem;
}

.blog .blog__middle .box_3 .one_3 .text_start_3{
  /* Сент 26, 2021 */
  width: 284px;
  height: 35px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 300;
  font-size: 11.649px;
  line-height: 35px;
  /* identical to box height, or 300% */
  color: #FFFFFF;
}

.blog .blog__middle .box_3 .one_3 .text_3{
  /* GPT-3 и Openai – это будущее. Давайте разберемся, как это? */
  width: 284.23px;
  height: 90.86px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  font-size: 19px;
  line-height: 30px;
  /* or 159% */
  color: #FFFFFF;
}

.blog .blog__middle .box_3 .one_3 a{
  /* Читать полную статью */
  width: 284px;
  height: 35px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 35px;
  /* identical to box height, or 291% */
  color: #FFFFFF;
}

.blog .blog__middle .box_3 .one_3 a:hover{
  border-bottom: 1px solid #ffffff;
}


.blog .blog__right {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 2rem;
  width: 75%;
}

.blog .blog__right .box_4 {
  height: 100%;
}

.blog .blog__right .box_4 img {
  width: 100%;
}

.blog .blog__right .box_4 .one_4{
  /* Rectangle 20 */
  /* Rectangle 21 */
  width: 327.34px;
  height: 193.37px;
  background: #042C54;
  padding: 1rem 1.5rem;
}

.blog .blog__right .box_4 .one_4 .text_start_4{
  /* Сент 26, 2021 */
  width: 284px;
  height: 35px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 300;
  font-size: 11.649px;
  line-height: 35px;
  /* identical to box height, or 300% */
  color: #FFFFFF;
}

.blog .blog__right .box_4 .one_4 .text_4{
  /* GPT-3 и Openai – это будущее. Давайте разберемся, как это? */
  width: 284.23px;
  height: 90.86px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  font-size: 19px;
  line-height: 30px;
  /* or 159% */
  color: #FFFFFF;
}

.blog .blog__right .box_4 .one_4 a{
  /* Читать полную статью */
  width: 284px;
  height: 35px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 35px;
  /* identical to box height, or 291% */
  color: #FFFFFF;
}

.blog .blog__right .box_4 .one_4 a:hover{
  border-bottom: 1px solid #ffffff;
}
.blog .blog__right .box_5 {
  height: 100%;
}

.blog .blog__right .box_5 img {
  width: 100%;
}

.blog .blog__right .box_5 .one_5{
  /* Rectangle 20 */
  /* Rectangle 21 */
  width: 327.34px;
  height: 193.37px;
  background: #042C54;
  padding: 1rem 1.5rem;
}

.blog .blog__right .box_5 .one_5 .text_start_5{
  /* Сент 26, 2021 */
  width: 284px;
  height: 35px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 300;
  font-size: 11.649px;
  line-height: 35px;
  /* identical to box height, or 300% */
  color: #FFFFFF;
}

.blog .blog__right .box_5 .one_5 .text_5{
  /* GPT-3 и Openai – это будущее. Давайте разберемся, как это? */
  width: 284.23px;
  height: 90.86px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  font-size: 19px;
  line-height: 30px;
  /* or 159% */
  color: #FFFFFF;
}

.blog .blog__right .box_5 .one_5 a{
  /* Читать полную статью */
  width: 284px;
  height: 35px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 35px;
  /* identical to box height, or 291% */
  color: #FFFFFF;
}
.blog .blog__right .box_5 .one_5 a:hover{
  border-bottom: 1px solid #ffffff;
}
.footer{
  /* Background */
  width: 1440px;
  height: 950px;
  background: #031B34;
  margin: 0;

}


.footer .footer_end{
  /* Хотите Шагнуть в Будущее Раньше Других? */
  font-family: 'Manrope';
  font-size: 62px;
  line-height: 75px;
  letter-spacing: -0.04em;
  padding: 15rem 17rem 5rem 17rem;
  align-self: center;
  /* Хотите Шагнуть в Будущее Раньше Других? */
  font-style: normal;
  text-align: center;
}

.footer .footer_button{
  /* Fill */
  box-sizing:border-box;
  border-style: hidden;
  border-color: #031B34;
  border: 1px solid #FFFFFF;
  margin-left:37%;
  margin-right: 37%;
  text-align: center;
}

.footer .footer_button a{
  cursor: pointer;
}

.footer .footer_button button{
  cursor: pointer;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 1400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
  opacity: 0.8;
  padding: 1rem 0rem 1rem 0rem;
  background-color: #031B34;
  border-color: none;
  width:100%;
}
.footer .footer_button a:hover,button:hover{
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  
}

.footer .footer_button button:hover{
  background-color: #ae67fa;
}

.footer .colonki{
  display: flex;
  column-gap: 4rem;
  min-height: 30vh;
  align-items: stretch;
  align-content: stretch;
  margin: 6rem 4rem 6rem 4rem;
  flex-direction: row;
  justify-content: center;
}

.footer .colonki .gpt{

}

.footer .colonki .gpt .gpt_1{
  width: 186px;
  height: 48px;
}

.footer .colonki .gpt .gpt_2{
  /* ул. Профессора Поздеева, 13, к.Г, Пермь, Пермский край, 614013 Все права защищены */
width: 186px;
height: 48px;
font-family: 'Manrope';
font-style: normal;
font-weight: 300;
font-size: 12px;
line-height: 16px;
color: #FFFFFF;
opacity: 0.5;
}

.footer .colonki .silki{
  
}
.footer .colonki .silki a:hover{
  border-bottom: 1px solid #FFFFFF;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.footer .colonki .silki .silki_1{
  width: 186px;
  height: 48px;
}

.footer .colonki .silki .silki_2{
  width: 186px;
  height: 48px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
  opacity: 0.5;
}

.footer .colonki .silki .silki_3{
  width: 186px;
  height: 48px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
  opacity: 0.5;
}

.footer .colonki .silki .silki_4{
  width: 186px;
  height: 48px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
  opacity: 0.5;
}

.footer .colonki .silki .silki_5{
  width: 186px;
  height: 48px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
  opacity: 0.5;
}

.footer .colonki .kompan a:hover{
  border-bottom: 1px solid #FFFFFF;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  
}

.footer .colonki .kompan .kompan_1{
  width: 186px;
  height: 48px;
}

.footer .colonki .kompan .kompan_2{
  width: 186px;
  height: 48px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
  opacity: 0.5;
}

.footer .colonki .kompan .kompan_3{
  width: 186px;
  height: 48px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
  opacity: 0.5;
}

.footer .colonki .kompan .kompan_4{
  width: 186px;
  height: 48px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
  opacity: 0.5;
}

.footer .colonki .kontakt a:hover{
  border-bottom: 1px solid #FFFFFF;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  
}

.footer .colonki .kontakt .kontakt_1{
  width: 186px;
  height: 48px;
}

.footer .colonki .kontakt .kontakt_2{
  width: 186px;
  height: 48px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
  opacity: 0.5;
}

.footer .colonki .kontakt .kontakt_3{
  width: 186px;
  height: 48px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
  opacity: 0.5;
}

.footer .colonki .kontakt .kontakt_4{
  width: 186px;
  height: 48px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
  opacity: 0.5;
}

.end {
  height: 100%;
}

.end .text_end{
  /* © 2023 GPT-3. Все права защищены. */
  height: 16px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
}

iframe {
  position: absolute;
  top: 25%;
  left: 30%;
  width: 40%;
  height: 100%;
  border-radius: 50px;
  opacity: 0;
  animation: ani 1s forwards;
}
@keyframes ani {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
/*Форма регистрации*/
.registration{
  overflow: hidden;
  width:100%;
  align-content:center;
  box-sizing: border-box;
  
  height: auto;
}

.registration form{
  display: flex;
  justify-content: space-between;
  column-gap: 1rem;
  flex-direction: column;
  align-self: center;
  margin-left: 10%;
  margin-top: 100px;
  height: auto;
  
}

.registration div{
  width:100%;
  margin-bottom: 10px;
 
  
}
.registration input{
  padding-left: 0px;
  margin-left: 20%;
  text-align: center;
  font-size: 20px;
  color: #1f221f76;
  border-radius: 25px;
  height: 50px;
  width: 50%;
  border-left-color: #444;
  border-right-color: #444;
  border-top-color: #444;
  border-left-color: #444;
}
.registration .header{
 width:100%;
 height: 70px; 
 font-weight: bolder;
 font-size: 25px;
 padding-left: 35%;
}

.registration span{
 color:rgb(47, 133, 39);
  font-size: 30px;
  margin-left: 10px;
}
.buttons{
  margin-top: 15px;
}

 .buttons button{
  
  display: inline-block;  
  box-sizing: border-box;
  padding: 0 25px;
  margin: 1px 15px 15px 1px;
  outline: none;
  border: 1px solid #fff;
  border-radius: 50px;
  height: 46px;
  line-height: 46px;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  color: #444;
  background-color: #c5f7c0;
  box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
  cursor: pointer;
  user-select: none;
  appearance: none;
  touch-action: manipulation;  
  vertical-align: top;
  transition: box-shadow 0.2s;
 }
 .buttons button:hover {
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

.buttons button:hover {
  background-color: rgb(77, 255, 0);
  color: #fff;
}

.links{
 width: auto;
 margin-left: 20%;
align-self: center;
display: flex;
flex-direction: row;
height: auto;

}

.links h1{
 font-size: 20px;
  width: auto;
}
.links a{
  margin-left: 10px;
  font-family: "ManropeBold", sans-serif;
  background: linear-gradient(90deg, #080808 1.84%, #000000 102.67%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
 
 }

 .links a:hover{
  background: linear-gradient(90deg, #55e42a 1.84%, #f3f328 102.67%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 }

/*Для авторизации*/

.buttons_in{
margin-left: 30%;
margin-top: 11%;
}

.buttons_in button{
  
  display: inline-block;  
  box-sizing: border-box;
  padding: 0 25px;
  margin: 1px 15px 15px 1px;
  outline: none;
  border: 1px solid #fff;
  border-radius: 50px;
  height: 46px;
  line-height: 46px;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  color: #444;
  background-color: #c5f7c0;
  box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
  cursor: pointer;
  user-select: none;
  appearance: none;
  touch-action: manipulation;  
  vertical-align: top;
  transition: box-shadow 0.2s;
 }
 .buttons_in button:hover {
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

.buttons_in button:hover {
  background-color: rgb(52, 125, 57);
  color: #fff;
}

.links_in{
  width: auto;
 margin-left: 20%;
 align-self: center;
 display: flex;
 flex-direction: row;
 height: auto;
 margin-top: 40%;
 color:#000000;
 }
 
 .registration .links_in h1{
  font-size: 20px;
  color:#000000;
  background-color: #000000;
   width: auto;
   
 }
 .links_in a{
   margin-left: 10px;
   font-family: "ManropeBold", sans-serif;
   background: linear-gradient(90deg, #020202 1.84%, #000000 102.67%);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   font-size: 20px;
  
  }
 
  .links_in a:hover{
   background: linear-gradient(90deg, #55e42a 1.84%, #f3f328 102.67%);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
  }


.panel p{
  color:#000000;
}

.hero_section_center{
  width:80%;
  margin-left:10%;
  align-content: center;
  overflow: hidden;
  flex-direction: column;
}


.hero_section_center  h3{
  font-size: 50px;
  color: #224622;
  width: 70%;
  margin-left: 15%;
  
}

.hero_section_center   .Input{
  width:50%;
  margin-left: 28%;
  font-size: 25px;
}

.hero_section_center    input{
 margin-top: 20px;
  width: 20%;
  margin-left: 35%;
  padding: 8px 32px;
  border-radius: 16px 16px 16px 16px;
  border: 1px solid #000000;
  margin-bottom: 20px;
  
  font-size: 14px;
  text-align: center;
}
.btn_center{
  width: 80%;
  margin-left: 36.5%;
}
.hero_section_center span{
 color:red;
 font-size: 30px;
 }

 .menu_prods {
  
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  
  gap: 100px;
  margin-top: 250px;
  padding-bottom: 30px;
  width:100%;
 }
.menu_prods .menuData{
  width:40%;
  
}
.menu_prods  .menuData .menuTitle{
  text-align: center;
  width: 100%;
  border: 1px solid  #224622;
  border-top: none;
  border-right: none;
  border-left: none;
  margin-bottom: 10px;
  color: #224622;
  font-weight:900;
}
.menu_prods .menuData .menuProducts .prod{
  display: flex;
  flex-direction: row;

}

.menu_prods  .menuData .menuProducts .prod .products{
  margin-right: 10px;
  width: 100%;
}
.menu_prods .menuData .menuProducts .prod .gr{
  text-align: right;
  width: 100%;
  
}
.hero_section_center .logo {
  width:100%;
  margin-left: 85%;
  padding-bottom: 30px;
}
.hero_section_center .logo .logo__link img{
  width:5%;
  opacity: 0.5;
  border-radius: 25px 25px 25px 25px;
  
}

.hero_section_center .logo .logo__link img:hover{
  opacity: 0.8;
  background-color: rgb(148, 233, 129);
}












/* Медиа запросы для адаптива */
@media screen and (max-width: 1230px) {
  
 
  .blog_text{
    width:90%;
    margin-left:5%;
  }
  .blog_text .blog__right{
    width:0%;
  }
  .blog_text .blog__left {
    width:100%;
    height: 60px;
    padding-left: 5%;
    padding-right: 2%;
  }
  .blog_text .blog__left .text_blog__left {
    font-size: 36px;
    width:100%;
    height: 60px;
    padding-left: 5%;
    padding-right: 2%;
  }

  .blog{
    display:flex;
    flex-direction: column;
  }
  .blog .blog__middle{
    flex-direction: row;
  }
  .blog .blog__right{
    flex-direction: row;
  }
  .blog .blog__left .box_1 img{
    width:90%;
    margin-left:5%;
  }
  .blog .blog__left .box_1 .one_1 {
    width:90%;
    height: 25%;
    margin-left:5%;
  }
  .blog .blog__left .box_1 .one_1 .text_1{
    width:100%;
    
  }
  .blog .blog__left .box_1 .one_1 a{
    line-height: 0px;
  }
  .blog .blog__middle{
    width:90%;
    margin-left:5%;
    height: 373px;
  }
  .blog .blog__middle .box_2{
    height: 100%;
    width: 50%;
  }
  .blog .blog__middle .box_2 img{
    width: 100%;
    height: 172.12px;
  }
  .blog .blog__middle .box_2 .one_2 {
    width: 100%;
  }
  .blog .blog__middle .box_2 .one_2 .text_2 {
    width: 100%;
  }
  .blog .blog__middle .box_3{
    width: 50%;
  }
  .blog .blog__middle .box_3 img{
    width: 100%;
    height: 172.12px;
  }
  .blog .blog__middle .box_3 .one_3 {
    width: 100%;
  }
  .blog .blog__middle .box_3 .one_3 .text_3 {
    width: 100%;
  }
  .blog .blog__right {
    width:90%;
    margin-left:5%;
    height: 400px;
  }
  .blog .blog__right .box_4{
    width: 50%;
  }
  .blog .blog__right .box_4 img{
    width: 100%;
    height: 172.12px;
  }
  .blog .blog__right .box_4 .one_4 {
    width: 100%;
  }
  .blog .blog__right .box_4 .one_4 .text_4 {
    width: 100%;
  }
  .blog .blog__right .box_5{
    width: 50%;
  }
  .blog .blog__right .box_5 img{
    width: 100%;
    height: 172.12px;
  }
  .blog .blog__right .box_5 .one_5 {
    width: 100%;
  }
  .blog .blog__right .box_5 .one_5 .text_5 {
    width: 100%;
  }
  

}
@media screen and (max-width: 1024px) {
  .page {
    align-content: center;
  }

  .header {
    padding: 0rem;
  }

  .header .header__logo .logo__link img {
    width: 30%;
  }

  .header .header__right {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    row-gap: 53px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    background: #a9fd82;
  }

  .header .header__menu {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .header .header__menu .menu {
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
  }

  .header .header__menu .menu__close {
    position: absolute;
    right: -100px;
    top: -100px;
  }

  .header .header__menu .menu .menu__item a {
    font-size: 48px;
  }

  .hero_section {
    flex-direction: column;
    justify-content: center;
    column-gap: 0;
    width: 90%;
    
  }

  .hero_section .hero_section__left {
    width: 100%;
    text-align: center;
  }

  .hero_section .hero_section__right {
    display: flex;
    justify-content: center;
  }

  .hero_section .hero_section__right img {
    width: 60%;
  }

  .hero_section .hero_section__left .left__cta_buttons {
    justify-content: center;
  }

  .what_is_chatgpt_section {
    row-gap: 4rem;
  }

  .what_is_chatgpt_section .what_is_chatgpt_section__middle {
    flex-direction: column;
    row-gap: 1rem;
  }

  .what_is_chatgpt_section .what_is_chatgpt_section__bottom .bottom__container {
    row-gap: 0;
  }

  .future_here {
    column-gap: 0;
    flex-direction: column;
    row-gap: 4rem;
  }

  .future_here .future_here__left {
    row-gap: 1rem;
  }
  .exceeding_expectation{
    margin-left: 0%;
    margin-bottom: 0%;
  }
  .exceeding_expectation .exceeding_expectation__left {
    height: 100%;
    width: 45%;
  }
  .begin {
    margin-top: 10%;
    margin-bottom: 10%;
  }
  .begin .begin_colon .begin__left .text_2{
    font-size: 20px;
    
  }
  .blog_text{
    width:90%;
    margin-left:5%;
  }
  .blog_text .blog__right{
    width:0%;
  }
  .blog_text .blog__left {
    width:100%;
    height: 60px;
    padding-left: 5%;
    padding-right: 2%;
  }
  .blog_text .blog__left .text_blog__left {
    font-size: 30px;
    width:100%;
    height: 60px;
    padding-left: 5%;
    padding-right: 2%;
  }

  .blog{
    display:flex;
    flex-direction: column;
  }
  .blog .blog__middle{
    flex-direction: row;
  }
  .blog .blog__right{
    flex-direction: row;
  }
  .blog .blog__left .box_1 img{
    width:90%;
    margin-left:5%;
  }
  .blog .blog__left .box_1 .one_1 {
    width:90%;
    height: 25%;
    margin-left:5%;
  }
  .blog .blog__left .box_1 .one_1 .text_1{
    width:100%;
    
  }
  .blog .blog__left .box_1 .one_1 a{
    line-height: 0px;
  }
  .blog .blog__middle{
    width:90%;
    margin-left:5%;
    height: 373px;
  }
  .blog .blog__middle .box_2{
    height: 100%;
    width: 50%;
  }
  .blog .blog__middle .box_2 img{
    width: 100%;
    height: 172.12px;
  }
  .blog .blog__middle .box_2 .one_2 {
    width: 100%;
  }
  .blog .blog__middle .box_2 .one_2 .text_2 {
    width: 100%;
  }
  .blog .blog__middle .box_3{
    width: 50%;
  }
  .blog .blog__middle .box_3 img{
    width: 100%;
    height: 172.12px;
  }
  .blog .blog__middle .box_3 .one_3 {
    width: 100%;
  }
  .blog .blog__middle .box_3 .one_3 .text_3 {
    width: 100%;
  }
  .blog .blog__right {
    width:90%;
    margin-left:5%;
    height: 400px;
  }
  .blog .blog__right .box_4{
    width: 50%;
  }
  .blog .blog__right .box_4 img{
    width: 100%;
    height: 172.12px;
  }
  .blog .blog__right .box_4 .one_4 {
    width: 100%;
  }
  .blog .blog__right .box_4 .one_4 .text_4 {
    width: 100%;
  }
  .blog .blog__right .box_5{
    width: 50%;
  }
  .blog .blog__right .box_5 img{
    width: 100%;
    height: 172.12px;
  }
  .blog .blog__right .box_5 .one_5 {
    width: 100%;
  }
  .blog .blog__right .box_5 .one_5 .text_5 {
    width: 100%;
  }
  .footer .footer_end {
    padding: 100px 204px 60px;
  }
}
@media screen and (max-width: 990px) {
  .footer {
    height: 470px;
  }
  .footer .footer_end {
    font-size: 36px;
    padding: 5px 204px 60px;
  }
  .footer .colonki {
    column-gap: 0rem;
    margin-top: 4rem;
    margin-right: 1rem;
    margin-bottom: 0px;
  }
  .footer .colonki .gpt {
    width: 170px;
    height: 48px;
  }
  .footer .colonki .gpt .gpt_1 {
    width: 160px;
    height: 48px;
  }
  .footer .colonki .gpt .gpt_2 {
    width: 160px;
  }
  .footer .colonki .silki {
    width: 120px;
  }
  .footer .colonki .kompan {
    width: 170px;
  }
  .footer .colonki .kompan .kompan_2{
    width: 170px;
    height: 35px;
  }
  .footer .colonki .kompan .kompan_3{
    width: 170px;
    height: 35px;
  }
  .footer .colonki .silki .silki_1 {
    width: 120px;
    height: 48px;
  }
  .footer .colonki .silki .silki_2{
    width: 120px;
    height: 35px;
  }
  .footer .colonki .silki .silki_3{
    width: 120px;
    height: 35px;
  }
  .footer .colonki .silki .silki_4{
    width: 120px;
    height: 35px;
  }
  .footer .colonki .silki .silki_5{
    width: 120px;
    height: 35px;
  }
  
}
@media screen and (max-width: 766px) {
  p {
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
  }
  h1 {
    font-size: 46px;
  }

  h2 {
    font-size: 27px;
  }

  h3 {
    font-size: 19px;
  }

  .hero_section {
    width: 100%;
  }

  .brands_section {
    margin-top: -15px;
    padding-bottom: 0;
  }

  .what_is_chatgpt_section .what_is_chatgpt_section__top {
    flex-direction: column;
  }

  .hero_section .hero_section__right img {
    width: 85%;
  }

  .what_is_chatgpt_section .what_is_chatgpt_section__middle .middle__header {
    width: auto;
  }

  .what_is_chatgpt_section .what_is_chatgpt_section__bottom {
    flex-direction: column;
  }

  .what_is_chatgpt_section .what_is_chatgpt_section__bottom {
    row-gap: 2rem;
  }

  .what_is_chatgpt_section {
    row-gap: 3rem;
  }

  .what_is_chatgpt_section {
    margin: 6rem 0 0;
  }

  .what_is_chatgpt_section
    .what_is_chatgpt_section__bottom
    .bottom__container
    .container__content {
    line-height: 1.5;
  }
  .exceeding_expectation .exceeding_expectation__right .right__container {
    padding-left: 2%;
    width: 355px;
  }
  .exceeding_expectation .exceeding_expectation__right .right__container .right__header {
    width: 355px;
  }
  .exceeding_expectation .exceeding_expectation__right .right__container .container__content_2 {
    width: 355px;
    font-size: 14px;
    line-height: 25px;
    padding-right: 1%;
  }
  .blog_text .blog__left .text_blog__left {
    font-size: 24px;
    padding-left: 2%;
  }
  .blog {
    margin-top: 0px;
    margin-bottom: 25px;
  }
  .begin .begin_colon .begin__right .start_button button {
    font-size: larger;
  }
  .footer {
    height: 470px;
  }
  
}

@media screen and (max-width: 765px) {
  a {
    font-size: 12px;
  }

  p {
    font-size: 12px;
    text-align: center;
  }

  h1 {
    font-size: 25px;
  }

  h2 {
    font-size: 19px;
  }

  .hero_section .hero_section__left .left__cta_buttons input[type="text"] {
    min-width: auto;
  }

  .future_here {
    row-gap: 3rem;
  }

  .future_here .future_here__right .right__container {
    flex-direction: column;
  }

  .future_here .future_here__right .right__container .container__header {
    width: 100%;
  }

  .future_here .future_here__right .right__container .container__content {
    width: 100%;
  }

  .future_here .future_here__right {
    row-gap: 2rem;
  }
  .blog {
    margin-top: 0px;
  }
  .footer .footer_end {
    font-size: 30px;
  }
  .exceeding_expectation{
    flex-direction: column;
  }

  .exceeding_expectation .exceeding_expectation__left{
    width:100%;
  }
  .exceeding_expectation .exceeding_expectation__right{
    width:100%;
  }

  .exceeding_expectation .exceeding_expectation__right .right__container{
    width:100%;
    margin-bottom: 0px;
    
  }

  .exceeding_expectation .exceeding_expectation__right .right__container .right__header{
    width:100%;
    height: 60px;
  }
  .exceeding_expectation .exceeding_expectation__right .right__container .container__content_2{
    width:100%;
    height: 100px;
  }

  
}
