.App {
  text-align: center;
  background-color: black;
  height: 100vh;
}

.App-header {
  padding: 20px;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.label {
  color: white;
  font-size: 36px; /* Увеличение размера надписи FoodMaker */
  margin-bottom: 20px; /* Увеличение расстояния между надписью и полем ввода */
}

.input {
  padding: 15px; /* Увеличение размера текстового поля */
  border-radius: 8px;
  border: none;
  margin-bottom: 20px; /* Увеличение расстояния между полем ввода и кнопкой */
}

.button {
  padding: 15px 30px; /* Увеличение размера кнопки */
  border-radius: 8px;
  background-color: darkblue; /* Изменение цвета кнопки на темно-синий */
  color: white;
  border: none;
  cursor: pointer;
  font-size: 24px; /* Увеличение размера текста кнопки */
}
